# Banco de dados (Postgres local via Docker)
DATABASE_URL="postgresql://app:app@localhost:5434/grupo_vip"

# IA de visão computacional (Gemini)
GOOGLE_API_KEY="A chave da API do Gemini"
GOOGLE_API_PROVIDER="google"

# Regras de negócio
PIX_AMOUNT="97.00"
EXPECTED_RECIPIENT_NAME="O NOME QUE ESTA NO PIX DE RECEBIMENTO"
EXPECTED_RECIPIENT_KEY=" A CHAVE PIX DE RECEBIMENTO"

# Tracking
NEXT_PUBLIC_META_PIXEL_ID="A ID do Meta Pixel"
NEXT_PUBLIC_GA4_MEASUREMENT_ID="A ID do GA4"